/* @import 'node_modules/modern-normalize/modern-normalize.css'; */
@import url(https://fonts.bunny.net/css?family=abeezee:400,400i|roboto:700,900);

* {
    font-family: 'ABeeZee', sans-serif;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

h1{
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    display: grid;
    justify-content: center;
}

.board{
    padding: 0.8rem;
    border: 0.1rem black solid;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    /* gap: 0.2rem; */
    /* justify-content: center; */
    /* background-color: black; */
}

.board > .cell {
    border-radius: 0;
    /* width: 2rem; */
    /* display: grid; */
    /* justify-content: center; */
}

button{
    /* border: none; */
    background-color: white;
}