/* @import 'node_modules/modern-normalize/modern-normalize.css'; */
@import url(https://fonts.bunny.net/css?family=abeezee:400,400i|roboto:700,900);

* {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    /* gap: 1rem; */
}

h1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.turn{ 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.board{
    grid-column: 2 / 3;
    grid-row: 3 / 6;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr) ;
}

.winner{
    grid-column: 2 / 3;
    grid-row: 6 / 7
}


.scoreboard{ 
    
}

.reset{
    border-radius: 0.2rem;
    grid-column: 2/3;
    grid-row: 7/8;
}

.scoreboard {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.winner, .turn{
    align-content: center;

}

.score{
    width: 20%;
    height: 20%;
}







.container > .cell{
    background-color: white;
}

button{
    border: 1px solid black;
    background-color: white;
}


